body{font-size:14px;
color:#af9777;
background-color:#fff;
font-family:'OpenSansWeb', sans-serif;
background-image:none;
font-weight:400;
line-height:15pt;
position:relative}a{color:#000000}a:hover, a:focus{color:a0410d}._sub_header{text-align:center;
background-image: none;
 background-repeat: repeat}.box-content{border-color:#af9777}._viewall{color:#af9777;
font-size:15px;
font-style:italic;
line-height:22px}._title{color:#333;
font-weight:600;
text-transform:none;
line-height:25px;
font-size:18px}._content{padding-top:5px}.fck_detail{padding-top:10px;
 padding-bottom: 10px;
;
line-height:22px}.btnpage, td.btnpage{margin-left:4px;
border-color:transparent;
;
margin-top:10px;
border-style:solid;
border-width:1px}.btnpage a, a.btnpage{font-size:15px;
color:#af9777;
background-color:#e0e0e0;
padding-top:2px;
padding-bottom:2px;
padding-left:5px;
padding-right:5px}.btnpage a:hover,.btnpage a:focus,.btnpage:hover,.btnpage.active{background-color:#af9777;
color:#ffffff}.breadcrumb ul li a{color:#243238;
background-color:#ff6c00}.breadcrumb ul li a:after{border-left-color:#ff6c00;
border-top-color:transparent;
border-bottom-color:transparent;
border-right-color:#e11428}.breadcrumb ul li.active a,.breadcrumb ul li a:hover{background-color:#af9777;
color:#ffffff}.breadcrumb ul li.active a:after,.breadcrumb ul li a:hover:after{border-left-color:#ff6c00}.breadcrumb ul li:before{border-left-color:#ffffff;
border-top-color:transparent;
border-bottom-color:transparent;
border-right-color:transparent}.frtab_content{border-color:#ff6c00;
background-color:#ffffff}ul.frtab li a.tabs{font-weight:500}div.selector select{color:#d9d9d9}div.selector span{color:#af9777;
text-align:left}.navfootersite{padding-bottom:0px;
padding-top:0px;
background-image:none;
color:#ffffff;
background-color:#fff;
background-repeat:repeat;
background-position:bottom center}a._btn, ._btn{background-color:#af9777;
;
color:#ffffff}a._btn:hover, ._btn:hover{background-color:#141414}._static_public i{color:#af9777;
font-size:21px}._static_public ul li{line-height:40px;
padding-left:0px;
padding-right:0px}._list_item{background-color:;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px}.tags-list .tags{background-color:transparent;
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px}.tags-list a{padding-top:4px;
padding-bottom:4px;
padding-left:5px;
padding-right:5px}.tags-list .tags a:hover{border-width:0px;
 border-style:solid;
border-color:#0090cf}.tags-list .view-all a{background-color:transparent;
color:#af9777}.tags-list .view-all a:hover{background-color:transparent;
color:#7db1d2}.dropdown dd ul{background-color:rgba(0, 0, 0, 0.3);
}.dropdown dd ul li a span,.dropdown dt a span{width:32px;
height:32px;
background-position:0px 1px}.dropdown dd ul li a{line-height:32px}.dropdown dd ul li a em{color:#2e2e2e}.dropdown dd ul li a:hover em{color:#af9777}#headInner ._logoBottom{background-color:#f1f1f1}#headInner ._logoBottom .panel-TopHead{background-color: transparent;
color:#ff6c00}#headInner ._logoBottom .panel-TopHead a{color:#ff6c00}#headInner ._logoBottom ._cart_shops a{color:#ff6c00}#headInner ._logoBottom ._frame_logo{background-image:none;
background-repeat:no-repeat}#headInner ._logoBottom ._social_item{color:#ff6c00}#headInner ._logoBottom ._social_item i{color:#ffffff;
background-color:#2130d9}._logoBottom .navbar_Menu{background-color:transparent;
padding-top:10px;
padding-bottom:10px}._logoBottom .nav li a{color:#af9777;
background-color:rgba(216, 216, 216, 0.2);
font-weight:400;
font-size:14px;
  text-transform:uppercase;
padding-top:10px;
padding-bottom:10px;
padding-left:18px;
padding-right:18px}._logoBottom .nav> .active> a,._logoBottom .nav> .active> a:hover,._logoBottom .nav> .open> a,._logoBottom .nav> .open> a:hover,._logoBottom .nav> li> a:hover,._logoBottom .nav li> ul li a:hover{color:#ff6c00;
background-color:#ffffff}._logoBottom .nav .dropdown-menu{background-color:#ffffff}._logoBottom .nav>li{margin-left:8px;
margin-right:0px}._logoBottom .nav li>ul li a:hover{background-color:#f2f2f2;
color:#ff6c00}._logoBottom .navbar-toggle{background-color:#ececec;
border-color:rgba(0,105,170,.5)}._logoBottom .navbar-toggle .icon-bar{background-color:#ffffff}.block_search{background-color:}.block_search .search{color:}.block_search i{color:;
font-size:;
line-height:}.navfooter ._ftBasic{background-color:transparent;
background-image:none;
padding-top:20px;
padding-bottom:20px;
padding-right:0;
padding-left:0;
border-bottom:}.navfooter ._ftBasic ._footer_item{margin-left:0;
margin-right:0;
margin-top:0;
margin-bottom:0}.navfooter ._ftBasic ._footer_item ._footer_title{color:#ffffff;
font-size:17px;
background-color:transparent;
background-image:none;
background-repeat:repeat-x;
background-position:0 0;
padding-top:10px;
padding-bottom:10px;
padding-right:0;
padding-left:0;
margin-bottom:;
background-size:100%;
text-transform:uppercase}._ftBasic ._footer_item ._footer_content,._ftBasic ._footer_item ._footer_content a{font-size:14px;
color:#646678}._ftBasic ._footer_item ._footer_content i{color:rgba(0, 0, 0, 0.4);
font-size:14px;
min-width:14px;
margin-right:5px}._ftBasic ._footer_item ul li{padding-top:;
padding-bottom:;
padding-left:5px;
padding-right:5px;
border-bottom-color:#ccc;
border-top-color:transparent}._ftBasic ._footer_item ._footer_content a:hover{color:#af9777}.navfooter{background-color:#111111;
background-image:none;
padding-top:0px;
padding-bottom:0px;
 padding-right: 0px;
 padding-left: 0px}._ftSiteBasic a{color:#af9777}._ftSiteBasic a:hover{color:#af9777}._ftSiteBasic ._nameStyles{color:#ff6c00}._users_public .frpanel-heading{background-color:transparent;
border-bottom-color:#ECECEC;
 padding-top:2px;
padding-bottom:2px;
padding-right:2px;
padding-left:2px}._users_public .frpanel-title{font-size: 15px}._users_public .icost{font-size:20px;
color: #ff6c00}._users_public ._users_wrapper,._users_public ._users_content{font-size:15px}._users_wrapper .icost{color:#ffffff}._users_wrapper samp{padding:0 10px;
line-height:30px}._fb_wrapper a{border-width:1px;
border-style:solid;
border-color:#4C63A6}._fb_wrapper .icost{background-color:#2e2e2e}._tw_wrapper a{border-width:1px;
border-style:solid;
border-color:#55ACEE}._tw_wrapper .icost{background-color:#55ACEE}._gp_wrapper a{border-width:1px;
border-style:solid;
border-color:#ff6c00}._gp_wrapper .icost{background-color:#ff6c00}.block_except_custom .box-content{background-color:#f4f4f4}._title:hover{color:#af9777}#headInner ._lineSearch{background-color:;
border-bottom:}#headInner ._lineSearch .panel-TopHead{background-color:#243238;
color: #FFF900;
border-top:;
padding-top:0px;
padding-bottom:0px;
position:inherit;
border-bottom:0px solid #ff6c00}#headInner ._lineSearch .panel-TopHead a{color:#d8d8d8;
font-size:15px;
font-weight:400}#headInner ._lineSearch ._frame_logo{background-image:none;
background-repeat:no-repeat;
margin-top:}#headInner ._lineSearch ._social_item{color:#ff0000}#headInner ._lineSearch ._social_item i{color:#ffffff;
background-color:}._lineSearch .navbar_Menu{background-color:transparent;
padding-top:;
padding-bottom:0px;
float:none;
margin-left:;
margin-top:}._lineSearch .nav li a{color:#000000;
background-color:transparent;
font-weight:400;
font-size:12pt;
text-transform:none;
padding-top:15px;
padding-bottom:15px;
padding-left:3px;
padding-right:3px;
border-right:0px solid #FFFFFF;
border-left:0px solid #e5e5e5;
margin-right:;
margin-left:;
position:relative}._lineSearch .nav> .active> a,._lineSearch .nav> .active> a:hover,._lineSearch .nav> .open> a,._lineSearch .nav> .open> a:hover,._lineSearch .nav> li> a:hover,._lineSearch .nav li> ul li a:hover{background-color:;
color:#af9777;
border-bottom:}._lineSearch .nav .dropdown-menu{background-color:;
background:background: rgba(237,237,237,1);
background:;
background:;
background:;
background:;
background:;
background:;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
;
border-bottom:;
border-right:;
box-shadow:5px 5px 15px rgba(0, 0, 0, 0.1);
border:1px rgba(0, 0, 0, 0.1) solid}._lineSearch .nav>li{margin-left:0px;
margin-right:0px}._lineSearch .nav li>ul li a:hover{background-color:#af9777;
color:#ffffff}._lineSearch .navbar-toggle{background-color:;
border-color:}._lineSearch .navbar-toggle .icon-bar{background-color:#af9777}._lineSearch .block_search{color:#ff0000;
background-color:#ffffff;
display:inline-block;
float:none;
border-radius:;
border:1px solid #af9777}._lineSearch .block_search .search{color:#8c8888}._lineSearch .block_search i{color:#ffffff;
font-size:15px;
background-color:#af9777}._lineSearch .panel-TopRight{color:#f00000;
float:right;
margin-top:5px}._lineSearch .panel-TopLeft{color:#f00000;
margin-top:2px;
margin-bottom:2px}._lineSearch .nav .dropdown-menu li{color:#af9777;
background-color:}._lineSearch .menutop-fixed{border-bottom:0px solid #ff6c00;
border-top:0px solid #ff6c00;
background-color:transparent}._lineSearch .nav .dropdown-menu li a{color:#ffffff;
font-size:13px;
border-bottom-width:;
border-bottom-style:none;
border-bottom-color:;
;
padding-top:15px;
padding-bottom:15px;
padding-left:15px;
padding-right:15px}._lineSearch .nav li:first-child a{border-left:none;
margin-left:}._lineSearch .nav li:last-child a{border-right:none}li._head_hotline._hotline a{color:#000000}.call_fixed{background-color:#ff6c00}.call_fixed a{color: #fff}.call_fixed a span{background-color:#ff6c00}.navfooter ._ftBasic ._footer_item ._footer_title:before{color:#f00000;
border-bottom:2px solid #ff6c00}._page_public .breadcrumb_adv li:last-child a, ._page_public .breadcrumb_adv li:last-child{color:#ff6c00}._paging ._btnpage_middle td a{background-color:#ff6c00;
border-color:#ff6c00;
color:#ffffff}._ftBasic ._footer_item ._footer_content ._btn_reg{color:;
background-color:}._ft_left ._footer_item .icost, ._footer_item ._ft_social .icost{color:;
background-color:}._contact_public .btn-contact{color:#ffffff;
background-color:#af9777}._btn_animate:before, .wizard > .actions a:before{color:;
background-color:#000000}.conf-button{color:;
background:}.box-header._root{color:;
background-color:transparent;
background-image:none;
background-repeat:repeat;
background-position:center center;
text-align:left;
margin-top:0px;
margin-bottom:0px;
padding-bottom:0px;
border-bottom-width:0px}.box-header._root span{color:#af9777;
padding-top:0px;
padding-left:15px;
padding-bottom:0px;
padding-right:0px;
font-size:19px;
font-weight:400;
text-transform:uppercase;
background-color:transparent;
border-bottom-width:0px;
border-bottom-style:solid;
border-bottom-color:#af9777;
line-height:30px;
box-shadow:4px 0px 0 0 #ff6c00 inset}.box-header span, .out-top{margin-top:30px}.box-header._page_style:before{width:36px;
height:3px;
background:#4caf50}.box-header._page_style:after{width:1000em;
height:1px;
background:#cecece}.box-header._diamond span{color:#ff6c00;
background-color:transparent;
position:relative;
margin-bottom:;
font-size:22px;
text-transform:uppercase;
font-weight:400}.box-header._diamond span:before{color:;
background-color:#ff6c00;
width:100%;
height:1px;
text-align:center}.box-header._diamond span:after{background-color:#fff;
width:9px;
height:9px;
text-align:center;
border-color:#ff6c00;
border-style:solid;
border-width:1px}.box-header._line_circle span{color:#ff6c00;
background-color:transparent;
font-size:22px;
font-weight:400;
text-transform:uppercase;
padding-top:5px;
padding-bottom:10px;
line-height:22px}.box-header._line_circle span:before{background-color:#ff6c00;
width:auto;
height:1px}.box-header._line_circle span:after{background-color:#f4f4f4;
width:9px;
height:9px;
text-align:center;
border-color:#ff6c00;
border-style:solid;
border-width:1px}.box-header._framed_line_hor{border-top-color:#ddd;
border-top-style:solid;
border-top-width:1px;
margin-top:30px;
margin-bottom:20px}.box-header._framed_line_hor span{color:#ffffff;
font-size:22px;
text-transform:uppercase;
font-weight:400;
background:#ff6c00;
border-radius: 2px;
padding:7px 12px 7px}.box-header._framed_line_hor span::before{border-left:3px solid transparent;
border-right:3px solid transparent;
border-top:border-top: 14px solid rgb(196, 196, 196);
}.box-header._framed_line_hor span::after{border-left:3px solid transparent;
border-right:3px solid transparent;
border-top:14px solid rgb(196, 196, 196);
}.box-header._specials span{color:#af9777;
font-style:normal;
;
text-transform:uppercase;
font-weight:600;
font-family:'LatoWeb', sans-serif}.box-header._row_title span:before{width:66px;
border-bottom:1px solid}.box-header._row_title span:after{width:66px;
border-bottom:1px solid}.box-header._row_title span{color:#af9777;
font-size:22px;
font-weight:400;
text-transform:none}.box-header._brick_breaker span{color:#ff6c00;
font-size:22px;
font-weight:400;
line-height:25px;
padding-bottom:21px;
text-transform:uppercase}.box-header._brick_breaker span:after{color:#ff6c00;
background:#fff;
font-size:15px;
line-height:25px;
width:40px;
height:20px}.box-header._brick_breaker span:before{background:#ff6c00;
height:1px;
width:25%}.box-header._line_top_icon span{color:#ff6c00;
text-transform:uppercase;
font-size:22px;
font-weight:400;
padding-top:15px}.box-header._line_top_icon span:after{color:#ff6c00;
font-size:30px;
line-height:30px;
width:40px;
text-align:center;
background:#fff}.box-header._line_top_icon span:before{background-color:#ff6c00;
width:100%;
height:1px}.box-header._normal span{color:#ff6c00;
line-height:30px;
text-transform:uppercase;
text-align:inherit;
background-color:transparent;
border-bottom:2px solid #bfbfbf;
font-size:22px;
font-weight:400;
padding-bottom:5px}.box-header._normal{background-color:transparent;
margin-bottom:20px;
margin-top:30px}.box-header._normal span::before{border-bottom:2px solid #ff6c00;
width:70px}._btn_animate, .wizard > .actions a{color:#ffffff;
background-color:#af9777}.btn-success{color:#ffffff;
background-color:#ff6c00;
border-color:#ff6c00}.block_content_cv .navigator .content_nav{color:#ff6c00;
font-weight:700;
margin-right:;
padding-right:10px}._ftBasic .ft_tt_news ._title{color:#ffffff}.box-header._page_style span{color:#4caf50;
background-color:transparent;
font-size:22px;
font-weight:400;
line-height:21px;
text-transform:uppercase}._ftSiteBasic{padding-top:10px;
padding-bottom:10px}.box-header.line-dot span{color:#ff6c00;
padding-bottom:10px;
font-size:22px;
font-weight:400}.box-header.line-dot span:before{bottom:0;
width:20%;
height:1px;
border:inherit;
background:rgb(227, 228, 228)}.box-header.line-dot span:after{background:#ff6c00}.box-header._row_title{margin-top:20px;
margin-bottom:10px}.kim-inner .title h2{color:#ff6c00;
text-transform:uppercase;
font-size:20px;
display:none}.block_content_cv .navigator{text-align:right}.content_forget h4.ty-login-info_title{color:#777777;
font-size:18px;
text-transform:uppercase}.box-header._page_style{margin-top:40px;
margin-bottom:20px;
padding-top:;
padding-bottom:10px}.box-header._diamond{margin-top:0px;
margin-bottom:20px}.box-header._specials{margin-top:}.box-header.line-dot{margin-top:;
margin-bottom:20px}.box-header._brick_breaker{margin-top:20px;
margin-bottom:30px}.box-header._line_top_icon{margin-top:20px;
margin-bottom:20px}._about_public ._pic_right_desc_left ._desc ._text_center ._title span{color:#0080c1;
display:block;
margin-bottom:0px}._sidebar_hover_angel ul{border-width:1px;
border-style:solid;
border-color:#e4e8ed}._sidebar_hover_angel ul li{border-bottom-width:;
border-bottom-style:none;
border-bottom-color:}._sidebar_hover_angel ul li a{font-size:15px}._sidebar_hover_angel ul li i.icost{font-size:13px}._sidebar_hover_angel > ul li:hover > a{color:#af9777;
border-left-width:2px;
border-left-style:solid;
border-left-color:#af9777}._sidebar_hover_angel li ul{background-color:#ffffff}._sidebar_hover_angel ul li ul li a{color:#000}._sidebar_hover_flyout ul{border-width:1px;
 border-style:solid;
 border-color:#ff6c00}._sidebar_hover_flyout ul li a{text-transform:capitalize;
color:#243238;
font-size:14px;
 border-right-width:3px;
 border-right-style:solid;
 border-right-color:#ff6c00}._sidebar_hover_flyout ul li i.icost{font-size:9px}._sidebar_hover_flyout > ul li:hover > a{background-color:#ff6c00;
 color:#fff}._sidebar_hover_flyout li ul{background-color:#fff}._sidebar_hover_flyout >ul li.has-sub:hover > ul{background-color:#ff6c00}._sidebar_hover_flyout ul li ul li a{color:#fff}._sidebar_hover_flyout > ul li ul  li:hover > a{color:#fff;
 background-color:#ff7c1d}.sidebar ._sidebar_group_pure{background-color:#ff6c00}.sidebar ._sidebar_group_pure .sidebar-group a{color:#fff}.sidebar ul._sidebar_group_pure > li.has-sub ul{background-color:#f6f6f6}.sidebar ul._sidebar_group_pure > li.has-sub ul .catalog_name a{color:#6f6f6f}._sidebar_group_pure li.has-sub > ul li .sidebar-group:hover{background-color:#ececec}._sidebar_group_pure li.has-sub .sidebar-group .closed i.icost{color:#fff}._sidebar_group_pure li.has-sub > ul li.has-sub .sidebar-group .closed i.icost{color:#6f6f6f}._sidebar_group_pure > li{-moz-box-shadow: 0 1px 0 #ff9c54 inset, 0 -1px 0 #a24500 inset;
-webkit-box-shadow: 0 1px 0 #ff9c54 inset, 0 -1px 0 #a24500 inset;
box-shadow: 0 1px 0 #ff9c54 inset, 0 -1px 0 #a24500 inset;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}._sidebar_group_pure li.has-sub > ul li .sidebar-group{-moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
-webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}._sidebar_hover_angel ._menu_link{background-color:#af9777}._sidebar_hover_flyout ._menu_link{background-color:#af9777}._about_public ._pic_right_desc_left ._desc ._text_center ._link span{color:#510e4c;
border:1px solid #510e4c;
font-weight:300}._about_public ._pic_right_desc_left ._desc ._text_center ._link span:hover{background:#510e4c;
color:#ffffff}ul.paginate.pag4 li a, ul.paginate.pag4 li span{color:#af9777;
background-color:transparent}.paginate.pag4 li a.active{color:#ffffff;
background-color:#af9777}ul.paginate.pag4 li a:hover{color:#ffffff;
background-color:#000000}.paginate.pag4 li.navpage a:hover{color:#ffffff;
background-color:#000000}.paginate.pag4 li.navpage a{color:#af9777;
background-color:transparent;
border:1px solid #af9777}div.fix_select>.selector{top:0px}._about_public ._pic_right_desc_left ._desc ._text_center h4._title{color:#243238;
font-size:35px;
text-transform:uppercase;
margin-top:20px;
margin-right:0px;
margin-bottom:20px;
margin-left:0px}._sidebar_group_deault .sidebar-group ._icon{display:none}._sidebar_group_deault .sidebar-group span.catalog_name{display:inline-block}._sidebar_group_deault .sidebar-group span.catalog_name a{color:#ff6c00;
min-width:200px;
display:block;
padding:10px 0px;
font-size:16px}ul._sidebar_group_deault li{    border-bottom: 2px dotted #e4e8ed;
padding-left:0;
padding-right:0}ul._sidebar_group_deault li:last-child{border-bottom: none}ul._sidebar_group_deault li.has-sub ul li a{padding-left:20px}._sidebar_group_deault .sidebar-group:hover span.catalog_name a{    color: #000335;
     padding-left: 20px}._shops_public ._box_item{padding-top:1px;
padding-bottom:5px;
padding-left:;
padding-right:;
background-color:#ffffff}._shops_public .thumbnail{background-color:#FFFFFF;
border-color:#af9777;
border-width:0px;
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px}._shops_public ._title{color:#af9777;
font-size:18px;
font-weight:600}._shops_public ._title:hover{color:#af9777}._shops_public ._content_des{color:#363636;
padding-top:5px;
 padding-right:10px;
padding-bottom:10px;
 padding-left:10px}._shops_public .prices{color:#f00000;
font-size:18px;
font-weight:600}._shops_public ._GiaGoc{color:#bbbbbb;
text-decoration:line-through;
font-size:14px}._shops_public ._title._detail{font-size:18pt;
padding-bottom:20px;
border-bottom:1px solid #e1e1e1}._shops_public ._mask_obj{background-color:rgba(0, 0, 0, 0.5);
z-index:2}._shops_public ._mask_obj h4._title{background:rgba(47, 168, 252, 0.6);
color:#ffffff;
font-size:15px}._shops_public .btn_decrement, ._shops_public .btn_increment{background-color:transparent;
color:black;
 border-color:#af9777;
border:0}._shops_public #addtocart_quantity{color:#000000;
border:1px solid #af9777}span.catalog_name a{color:#af9777}span.sidebar-group:hover a{color:0069AA}._checkout_basic #wizard h2.h_cart{background-color:#000;
border:0px solid #fff}._checkout_basic #wizard h2.h_cart i{background-color:#af9777}._checkout_basic #wizard h2.h_cart i:after{background-color:#af9777}._list_delivery ul li, ._list_Payment ul li{color:#af9777}.active ._btn_animate{background-color:#af9777}._add_cart ._btn_animate{background-color:#000000;
 color:#ffffff}._shops_public.shops_pagemain .header_title{color:#ffffff;
background-color:;
height:36px;
line-height:36px;
margin-bottom:}._shops_public.shops_pagemain .header_title:before{width:20%;
left:0px;
bottom:0;
background-color:#ffffff;
height:1px}._shops_public.shops_pagemain .header_title > h4 > a{color:#ffffff;
text-transform:uppercase;
 height:36px;
line-height:36px;
font-weight:500;
font-size:17px}._shops_public .grid .prices{color:;
font-size:}._shops_public .grid ._GiaGoc{font-size:15px}.col._title .row{color:#ffffff;
line-height:20px;
background-color:#af9777;
font-size:16px;
padding-top:10px;
padding-bottom:10px;
font-weight:500}.cart-item-info h4{color:#525252;
font-size:16px}._cart_basic ._btn{background-color:;
color:}._cart_basic ._btn:hover{background-color:;
color:}._shops_public ._cart_basic .prices{color:#af9777;
font-size:14px}._cart_basic .info_total{background-color:transparent}._cart_basic .sum .left{font-size:17px;
font-weight:500}._cart_basic .sum .right{color:#af9777;
font-size:19px;
font-weight:500}._cart_basic .table_order{border-width:0px;
border-style:solid;
border-color:#ffffff}._cart_basic .order_list ._total{border-top-width:1px;
border-top-style:solid;
border-top-color:#cccccc}.item-cart{background-color:#e8e8e8}._cart_basic .prices{color:#af9777;
font-size:14px;
font-weight:500}._checkout_basic{color:#af9777}._checkout_basic a{color:#af9777}._checkout_basic a:hover{color:#af9777}._checkout_basic .steps .disabled a,._checkout_basic .steps .disabled a:hover,._checkout_basic .steps .disabled a:active{background-color:#ebebeb;
color: #6c6c6c}._checkout_basic .steps .current a,._checkout_basic .steps .current a:hover,._checkout_basic .steps .current a:active{background-color:#af9777;
color: #ffffff}._checkout_basic .steps .done a,._checkout_basic .steps .done a:hover,._checkout_basic .steps .done a:active{background-color:#af9777;
color: #ffffff}._checkout_basic .steps .error a,._checkout_basic .steps .error a:hover,._checkout_basic .steps .error a:active{background-color:#af9777;
color: #ffffff}.infoCustom .header,span.header{background-color:#af9777;
color: #FFfffF;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
padding-top:5px}._checkout_basic div.selector span, ._checkout_basic .wizard > .content > .body input, input::-webkit-input-placeholder, div.selector.off span, ._checkout_basic div.selector select{color:#d9d9d9}select.selector, div.selector, .form-control, .selector, .wizard > .content > .body input{border-width:1px;
border-style:solid;
border-color:#e0e0e0}._list_delivery ul li,._list_Payment ul li{font-size:16px;
color:#af9777;
font-weight:500}._list_delivery ul li.active,._list_Payment ul li.active{border-width:1px;
border-style:solid;
border-color:#af9777;
background-color:#af9777;
color:#ffffff}._list_delivery ul li.selected,._list_Payment ul li.selected{border-width:1px;
border-style:solid;
border-color:#af9777;
background-color:#EAEAEA;
color:#696969}._fr_order ._head_order{background-color:#E0E0E0;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
color:#6D6D6D}._fr_order ._content_order{padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
border-width:1px;
border-style:solid;
border-color:#E0E0E0}._checkout_basic ._btn,._checkout_basic .wizard > .content > .body input._btn,.wizard > .actions a,.wizard > .actions a:active{background-color:#af9777;
color: #ffffff}._checkout_basic ._btn:hover,._checkout_basic .wizard > .content > .body input._btn:hover,.wizard > .actions a:hover{background-color:#af9777;
color:#ffffff}.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active{background: #E4E4E4;
color: #6c6c6c}._checkout_basic ._forget a{color:#FF0000}._checkout_basic ._forget a:hover{color:#BB0000}.box-header._line_bold_dot span{border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#243238;
color:#af9777;
font-weight:500}.box-header._line_bold_dot span:before, .box-header._line_bold_dot span:after{border-width:3px;
border-style:solid;
border-color:#243238}.box-header._custom1 span{color:;
font-weight:400;
font-size:30px;
text-transform:uppercase;
border-left:;
border-right:}._info_top ._hotline a{color:#ffffff;
font-family:'Roboto',Helvetica Neue,Helvetica,Arial,sans-serif}._contact_public .contact-info .form_right  #FormSend h3{color:}._background_about:before{background:url('UploadImages/about/juice.html')}._background_about:after{background:url('UploadImages/about/cafe76ae.html?v=69')}._lineSearch .nav> .active> a:before{color:;
background:#af9777}._lineSearch .nav> li> a:hover:before{color:;
background:#af9777}.top-fixed ._lineSearch .menutop-fixed{color:;
background:rgba(255, 255, 255, 1);
;
box-shadow:0px 0px 2px #e1e1e1}.template4 .item_content .content_inner ._title{color: #af9777;
font-weight:600;
font-size:18px}.template4 .item_content .content_inner ._title:hover{color:#000000}.template4 .social:hover i{color:#000000}._ftSiteBasic .copyright{color:#af9777}.contact-us .phone-number{color: #000000}.contact-us .phone-number:hover{color:#af9777}._shops_public .social a i:hover{color:#af9777}._shops_public ._add_wishlist a:hover , ._shops_public ._add_wishlist a:hover i{color:#af9777}#portfolios .meet-team-filter > li a:hover , #portfolios .meet-team-filter > li a.active{color:#af9777;
border-bottom: 1px solid #af9777}#portfolios .meet-team-filter > li a{color:#000000}.overlay{color:;
background-color:rgba(72, 148, 39, 0.75)}.ct_infor i{color:;
background-color:transparent}._page_public .breadcrumb_03 li.active a{color:#af9777}._background_about .box-header._custom1 span:before{border:2px solid #000000}._background_about .box-header._custom1 span:after{background:#000000}._public_about ._box_content ._box_item ._btn_rev:hover{background-color:#000000}._testtimonial_public .da-slider .owl-dots .owl-dot.active{background-color:}._ftBasic ._footer_item ._footer_content .menu li p{color:#af9777}._ftBasic ._footer_item ._footer_content ._btn_reg i{color:#af9777}.template_restaurant1 li .box-item-content .thumbnail ._view_icon{background:#af9777}.template_restaurant1 li .box-item-content .thumbnail ._view_icon1{background:#af9777}.template6 ._list_item .discount{background:#af9777;
border:1px solid #af9777}._news_public .templaterestaurant1 ._item ._btn{color:}._news_public .templaterestaurant1 ._item ._btn:hover{color:}._news_public .templaterestaurant1 ._content h4:hover{color:#af9777}._news_public .template1 li ._item ._title:hover{color: #af9777}._news_public .template10 ._item ._title:hover{color:#af9777}.frpanel{background-color:#f6f7f8;
padding-top:0px;
padding-bottom:0;
 padding-right: 0px;
 padding-left: 0px;
margin-top:0;
margin-bottom:0}.frpanel-heading{background-color:transparent;
padding-top:1px;
padding-bottom:0px;
padding-right:0px;
padding-left:0px;
border-bottom-color:#f0f0f0;
margin-bottom:14px}.frpanel-title{font-size:28px;
color:#000000;
font-weight:400;
background-color:transparent;
text-align:left}.frpanel-body{padding-top:2px;
 padding-bottom: 10px;
padding-left:5px;
 padding-right: 5px;
border-top-color:#f8f8f8}.frpanel li a{color: #ff8701;
text-decoration:none;
font-size:15px;
font-style:normal;
padding-top:5px;
background-image:url('themes/default/CustomThemes/default/images/icon/tick76ae.png?v=69');
padding-left:22px;
background-position:5px 8px}.frpanel ._linksub{margin-top:10px}._frpanel_item img.thumb{    max-width: 30%}._frpanel_item._boxfull img.thumb{width:100%;
 max-width:100%}._frpanel_item._boxfull ._content{color:#FFFFFF;
padding-top:5px;
 padding-bottom:5px;
;
background:rgba(0, 0, 0, 0.5)}.frpanel-heading.parallelogram-heading .frpanel-title{background: #8f704a;
color: #ffffff}.frpanel-heading.parallelogram-heading .frpanel-title:before{    border-left: 22px solid #8f704a}.frpanel-heading.parallelogram-heading .frpanel-title:after{    border-right: 22px solid #8f704a}.frpanel-heading.cubes_frpanel-heading{border-bottom: 3px solid #8f704a}.frpanel-heading.cubes_frpanel-heading a{background: #8f704a;
padding: 5px 20px}.frpanel-heading.cubes_frpanel-heading .frpanel-title{color: white;
font-size: 20px}.frpanel-heading.triangular_frpanel-heading a:before{border-left:solid 25px #af9777}.frpanel-heading.triangular_frpanel-heading a{background:#af9777}.frpanel-heading.triangular_frpanel-heading .frpanel-title{color:#ffffff;
;
text-transform:uppercase;
font-size:18px}.frpanel-heading.dashes_frpanel-heading .frpanel-title:before{background:#8f704a}.frpanel-heading.dashes_frpanel-heading .frpanel-title{color:#8f704a;
text-transform:uppercase;
font-size:23px}.frpanel-heading.dashes_frpanel-heading .frpanel-title:after{background: #8f704a}.frpanel-heading.imageicon_frpanel-heading .frpanel-title{    color: #8f704a;
font-size:23px}.frpanel-heading.underlined_frpanel-heading .frpanel-title{color:#8f704a;
;
font-size:23px;
text-transform:uppercase}.frpanel-heading.underlined_frpanel-heading:before{border-bottom:}.frpanel-heading.underlined_frpanel-heading a:after{background:linear-gradient(to right, #8f704a, rgba(112,116,33,0))}._viewall:hover{color:#000000}._ftBasic ._footer_item ._footer_content ._ft_social a:hover i{color:}.template_restaurant1 .owl-nav .owl-prev:hover, .template_restaurant1 .owl-nav .owl-next:hover{background-color:#000000}.template_restaurant1 .owl-nav .owl-prev, .template_restaurant1 .owl-nav .owl-next{background-color:#af9777}.swiper-button-next:before, .swiper-button-prev:before{color:#ffffff;
background:#af9777}.shops_public .tabs_pos{color:;
background:#000000}._testtimonial_public .da-slider .owl-dots .owl-dot{color:;
border:}._shops_public ._btn_laptop:hover{color:;
background: #000000}.owl-theme .owl-controls .owl-page span{color:;
background:#af9777}.template_restaurant1 li .box-item-content .thumbnail ._view_icon:hover i{color:#af9777}.template_restaurant1 li .box-item-content .thumbnail ._view_icon1:hover i{color:#af9777}.shops_public ul.frtab li a.tabs:hover{color:#af9777}.shops_public ._title{color:#af9777;
font-weight:600;
font-size:18px}._shops_public .tabs_pos{color:;
background:#000000}._shops_public ul.frtab li a.tabs:hover{color:#af9777}.template_restaurant1 .discount{color:;
background:#af9777}._lineSearch .cart-count{color:;
background:#af9777}._shops_public .frtab_content{background-color: #ffffff;
border-width:1px;
border-style:solid;
border-color:#dedede}._reservations .contact_reservations .form_left{background: #000000}.box-header._custom2 span{color:#000000;
font-size:28px;
text-transform:uppercase;
font-weight:400;
border-left:solid 2px #af9777}.box-header._custom2 span::before{color:#ffffff}.box-header._custom2{background-color:transparent}._pricing_public ._list_item{background-color:}#goTop:before{color:#ffffff}._testtimonial_public .da-slider .da-slide ._name{color:#af9777}